<td><a href="#user/<%= _id %>"><%= username %></a></td>
<td><%= name %></td>
<td>&nbsp;</td>
<td>
  <a href="#user/edit/<%= _id %>" class="btn btn-default">Edit</a>&nbsp;
  <a href="#user/delete/<%= _id %>" class="btn btn-default">Delete</a>
</td>