<h1>Listing nuggets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Author</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nuggets.each do |nugget| %>
      <tr>
        <td><%= nugget.title %></td>
        <td><%= nugget.category %></td>
        <td><%= nugget.author %></td>
        <td><%= nugget.content %></td>
        <td><%= link_to 'Show', nugget %></td>
        <td><%= link_to 'Edit', edit_nugget_path(nugget) %></td>
        <td><%= link_to 'Destroy', nugget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nugget', new_nugget_path %>
