<h1>Global Nugget Listing</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Category</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nuggets.each do |nugget| %>
      <tr>
        <td><%= nugget._id %></td>
        <td><%= nugget.title %></td>
        <td><%= nugget.category %></td>
        <td><%= nugget.author %></td>
        <td><%= link_to 'Show', [:admin, nugget] %></td>
        <td><%= link_to 'Edit', edit_admin_nugget_path(nugget) %></td>
        <td><%= link_to 'Destroy', nugget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nugget', new_admin_nugget_path %>
