<p id="notice"><%= notice %></p>

<h1><%= @category %></h1>

<ul>
  <% @children.each do |category| %>
      <li><a href="/categories/<%= category._id %>"><%= category %></a></li>
  <% end %>
</ul>

<h2>Nuggets</h2>

<ul>
  <% @nuggets.each do |nugget| %>
      <li><a href="/categories/<%= nugget._id %>"><%= nugget.title %></a></li>
  <% end %>
</ul>
